
*, *::before, *::after {
    box-sizing: border-box;
  }
 
  * {
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }

  body {
    line-height: 1.5;
    /* -webkit-font-smoothing: antialiased; */
    display: grid;
    place-content: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  .card {
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    display: grid;
    max-width: 21.25rem;
    margin: 1rem;
  }

  .card__qr {
    border-radius: 1rem;
    overflow: hidden;
  }

  p {
    margin: 1rem;
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-weight: lighter;

  }

  .title {
    margin: 1rem;
    color: hsl(218, 44%, 22%);
    text-align: center;
    
  }


  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }